@model ApplicationUser
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>


<br />
<br />

<div class="row">
    <div class="col-12">
         <div class="form-group">
             <label asp-for="@Model.Id"  class="col-from-label"></label>
             <input asp-for="@Model.Id" class="form-control" readonly />
         </div>
        <div class="form-group">
            <label asp-for="@Model.Email" class="col-from-label"></label>
            <input asp-for="@Model.Email" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.UserName" class="col-from-label"></label>
            <input asp-for="@Model.UserName" class="form-control" readonly />
        </div>
        <br />
        <a class="btn btn-success" asp-action="update" asp-route-id="@Model.Id">edit</a>
        <a class="btn btn-info" asp-action="Index">back</a>

    </div>
</div>